@use "variables" as *;

@mixin estilos-body {
    font-family: $fuente-principal;
    background-color: $fondo;
}

@mixin estilos-h1 {
    font-size: 32px;
    color: $color-h1;
}

@mixin estilos-h2 {
    font-size: 20px;
    font-weight: bold;
    color: $color-h2;
}